body,html{
    background-image: url('../images/bg.png');
    
}
div{
    float: right;
}
.tablink{
    margin-right: 0;
    height: auto;
    background-color: black;
    color: red;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    font-size: 20px;
    width: 15%;
    display: inline-block;

}
.tablink:hover{
    background-color: white;
}

.tabcontent{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
h1{
    color: darkgreen;
}